<html>
<head>
    <title>Contact List</title>
</head>
<body>
    <h1>Your New Contact:</h1>
    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getPhoneNumber }}</p>
    <p>{{ newcontact.getAddress }}</p>
    <p><a href='/'>View your list of contacts.</a></p>
</body>
</html>
