<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='css/responsive.css'>
    <title>Address Book</title>
</head>
<body>
    <h1>Your New Contact:</h1>
    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getPhoneNumber }}</p>
    <p>{{ newcontact.getAddress }}</p>
    <p><a href='/'>View your list of contacts.</a></p>
</body>
</html>
