<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' media='all'>
    <link rel='stylesheet' href='css/normalize.css' media='all'>
    <link rel='stylesheet' href='css/responsive.css' media='all'>
    <title>Address Book</title>
</head>
<body>
    <div class='container'>
        <h1>Your contacts have been cleared!</h1>
        <h3><a href='/'>Return Home</a></h3>
    </div>
</body>
</html>
