<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'>
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='css/responsive.css'>
    <title>Address Book</title>
</head>
<body>
    <h1>Your contacts have been cleared!</h1>
    <p><a href='/'>Home</a></p>
</body>
</html>
